.task-node {
    -fx-border-style: solid;
    -fx-border-color: dimgray;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px
}

.active {
    -fx-background-color: lightblue;
}

.deactive {
    -fx-background-color: red;
}